# App settings
APP_NAME="SQB Payment Reference Python App"
APP_ENV="dev"
APP_DEBUG=false

# SQB credential settings
SQB_BASE_URL="https://api.shouqianba.com"
SQB_VENDOR_SN="your_vendor_sn"
SQB_VENDOR_KEY="your_vendor_key"
SQB_ACCESS_TOKEN="your_access_token"
